[
    {
        "bggid": "160499",
        "title": "King of New York",
        "notes": {
            "User1": "I currently prefer Tokyo.",
            "User2": "Good game, but unsure yet."
        }
    },
    {
        "bggid": "74",
        "title": "Apples to Apples",
        "notes": {
            "User1": "",
            "User2": "I'd list this as a lower priority purchase"
        }
    }
]
