[
    {
        "bggid": "119890",
        "title": "Agricola:  All Creatures Big and Small",
        "notes": "The expansions add a lot to this game, and allow you to scale the difficulty quite well"
    },
    {
        "bggid": "154458",
        "title": "Akrotiri",
        "notes": "A quite enjoyable resource management game with a dynamically generated board for good replayability"
    },
    {
        "bggid": "67877",
        "title": "Anomia",
        "notes": ""
    },
    {
        "bggid": "163",
        "title": "Balderdash",
        "notes": ""
    },
    {
        "bggid": "50381",
        "title": "Cards Against Humanity",
        "notes": "Hillarious with the right group, a disaster with the wrong group"
    },
    {
        "bggid": "131357",
        "title": "Coup",
        "notes": ""
    },
    {
        "bggid": "891",
        "title": "Cranium",
        "notes": ""
    },
    {
        "bggid": "149155",
        "title": "Dead Man's Draw",
        "notes": ""
    },
    {
        "bggid": "151947",
        "title": "Trivial Pursuit: Doctor Who",
        "notes": ""
    },
    {
        "bggid": "172225",
        "title": "Exploding Kittens",
        "notes": "Quite a fun card game, plays decently with 2, think it'd play even better with more"
    },
    {
        "bggid": "136063",
        "title": "Forbidden Desert",
        "notes": "Excellent gateway Co-OP game, and scales well based on starting difficulty"
    },
    {
        "bggid": "156224",
        "title": "Foretold: Rise of a God",
        "notes": ""
    },
    {
        "bggid": "70323",
        "title": "King of Tokyo",
        "notes": "Great gateway game and always fun to play"
    },
    {
        "bggid": "312",
        "title": "Landlord!",
        "notes": ""
    },
    {
        "bggid": "129622",
        "title": "Love Letter",
        "notes": "Do not play with 2 players, terrible experience, but 4 was completely enjoyable"
    },
    {
        "bggid": "590",
        "title": "Mille Bornes",
        "notes": ""
    },
    {
        "bggid": "1927",
        "title": "Munchkin",
        "notes": ""
    },
    {
        "bggid": "137931",
        "title": "Nada!",
        "notes": "Fast paced reaction time game"
    },
    {
        "bggid": "13",
        "title": "Catan",
        "notes": ""
    },
    {
        "bggid": "102898",
        "title": "Sewer Pirats",
        "notes": ""
    },
    {
        "bggid": "2980",
        "title": "The Simpsons Trivia Game",
        "notes": ""
    },
    {
        "bggid": "1269",
        "title": "Skip-Bo",
        "notes": ""
    },
    {
        "bggid": "121958",
        "title": "Sky Traders",
        "notes": "Some parts are overly complex, but the game on the whole has lots of merit"
    },
    {
        "bggid": "2223",
        "title": "Uno",
        "notes": ""
    },
    {
        "bggid": "1465",
        "title": "Wizard",
        "notes": ""
    },
    {
        "bggid": "62871",
        "title": "Zombie Dice",
        "notes": "Wonderful gateway dice game, quick rounds, easy rules, simple"
    },
    {
        "bggid": "172242",
        "title": "Exploding Kittens: NSFW Deck",
        "notes": "Hillarious, but far from family friendly!  Still, most hillarious."
    },
    {
        "bggid": "36345",
        "title": "Monty Python Fluxx",
        "notes": ""
    },
    {
        "bggid": "129090",
        "title": "Roll For It!",
        "notes": ""
    },
    {
        "bggid": "50",
        "title": "Lost Cities",
        "notes": ""
    },
    {
        "bggid": "25669",
        "title": "Qwirkle",
        "notes": ""
    },
    {
        "bggid": "36218",
        "title": "Dominion",
        "notes": ""
    }
]