[
    {
        "bggid": "160499",
        "title": "King of New York",
        "notes": {
            "Erin": "Erin Note",
            "Jamie": "I think I could get into this more if I played it with those who knew the rules.  Bit steeper curve than I originally thought coming from King of Tokyo."
        }
    },
    {
        "bggid": "115105",
        "title": "Kittens in a Blender",
        "notes": {
            "Erin": "Erin Note",
            "Jamie": "Doesn't make for a very entertaining 2 player game, but would like to see how it plays with 4"
        }
    },
    {
        "bggid": "129437",
        "title": "Legendary: A Marvel Deck Building Game",
        "notes": {
            "Erin": "Erin Note",
            "Jamie": "It's not a bad game by any means, but to me there is a bit of RNG as to if I'll enjoy it based on what decks are pulled"
        }
    },
    {
        "bggid": "147151",
        "title": "Concept",
        "notes": {
            "Erin": "Erin Note",
            "Jamie": "I was honestly disappointed, maybe with the right group it'd be worth revisiting? But I think there are better games in this category."
        }
    },
    {
        "bggid": "92415",
        "title": "Skull",
        "notes": {
            "Erin": "Erin Note",
            "Jamie": "It was interesting, but I don't see much replayability.  A decent bluffing game, but I think there are better out there."
        }
    },
    {
        "bggid": "155362",
        "title": "Ca$h 'n Guns (second edition)",
        "notes": {
            "Erin": "Erin Note",
            "Jamie": "More bluffing, better atmosphere than Skull, but still relatively limited replayability.  Might be worth getting on a super sale."
        }
    },
    {
        "bggid": "74",
        "title": "Apples to Apples",
        "notes": {
            "Erin": "Erin Note",
            "Jamie": "This might be too similar to Cards Against Humanity. (All be it, a bit more kid friendly, so maybe? But I'd list this as a lower priority purchase)"
        }
    }
]