[
    {
        "bggid": "119890",
        "title": "Agricola:  All Creatures Big and Small",
        "notes": "The expansions add a lot to this game, and allow you to scale the difficulty quite well"
    },
    {
        "bggid": "36218",
        "title": "Dominion",
        "notes": ""
    }
]
