[
    {
        "bggid": "130899",
        "title": "12 Days",
        "played": "0",
        "cost": "14.99",
        "costwhere": "Starlit Citadel",
        "howFound": "TableTop",
        "notes": ""
    },
    {
        "bggid": "68448",
        "title": "7 Wonders",
        "played": "0",
        "cost": "54.99",
        "costwhere": "Starlit Citadel",
        "howFound": "Random Search",
        "notes": ""
    },
    {
        "bggid": "142325",
        "title": "Kobayakawa",
        "cost": "15.95",
        "costWhere": "Board Game Bliss",
        "howFound": "Random Search",
        "notes": "Looks to be an excellent bluffing gateway game",
        "costwhere": "Board Game Bliss"
    }
]
